<div ng-switch="userStatus">
	<div ng-switch-when="admin">
		<span class="glyphicon glyphicon-remove clicky" ng-click="delete(a)"></span>
		<span class="glyphicon glyphicon-edit clicky" ng-click="edit(a)"></span>
		<span id="hint-remove">Delete article</span>
		<span id="hint-edit">Edit article</span>
	</div>
	<div ng-switch-default></div>
</div>
<div class="article clicky" ng-click="goToArticle(a.$id)">
	<div><h3>{{a.header}}</h3></div>
	<b><div>{{a.author}}</div></b>
	<div>{{a.date | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
	<div><img class="image-thumbnail image-container" src={{a.imageURL}} alt="" /></div>
	<div>{{a.bodyText}}</div>
</div>
