<div ng-switch="userStatus">
	<div ng-switch-when="admin">
		<span class="glyphicon glyphicon-remove clicky" ng-click="delete(currentArticle)"></span>
		<span class="glyphicon glyphicon-edit clicky" ng-click="edit(currentArticle)"></span>
		<span id="hint-remove">Delete article</span>
		<span id="hint-edit">Edit article</span>
	</div>
	<div ng-switch-default></div>
</div>
<div class="article currentArticle">
	<div><h3>{{currentArticle.header}}</h3></div>
	<div><img class="currentArticle-image" src={{currentArticle.imageURL}} alt=""/></div>
	<div class="topBottomMargin">{{currentArticle.bodyText}}</div>
	<youtube-video video-url="currentArticle.videoURL"></youtube-video>
	<div class="topBottomMargin"><b>{{currentArticle.author}}</b></div>
	<div>{{currentArticle.date | date: 'yyyy-MM-dd HH:mm:ss' }} <span ng-show="updated">(Senast uppdaterad: {{currentArticle.updated | date: 'yyyy-MM-dd HH:mm:ss' }})</span></div>
</div><br>

	<!--Comments section, divs osv-->
	<div id="bigDiv">
<div class="row" ng-controller = "commentsCtrl">
	
		<!--Kommentarsfältet-->
		<br>
<div class="col-md-4">
	<div ng-repeat="c in comments | orderBy: '-date'">
		<div id="dotComments">
			<span ng-switch="userStatus">
				<span ng-switch-when="admin">
					<span class="glyphicon glyphicon-remove clicky" ng-click="deleteComment(c)" ng-show="authData"></span>
					<span id="hint-remove-comment">Delete comment</span>
				</span>
				<span ng-switch-default></span>
			</span>
			<strong id="namn">{{c.name}}:</strong>
			{{c.comment}}  <br/>
			<i id ="datum">{{c.date | date: 'yyyy-MM-dd HH:mm'}} </i>
		</div>
	</div>
	</div>
	<div class="col-md-4" ng-show="authData">
	<form novalidate name="commentsForm" ng-submit="submitComment($event)">

		<!-- Kommentarsformulär -->
		Namn:
			<br>
				<input id="nameInput" type="text" name="name" required ng-model="name" value="authData.password.email.split('@')[0]">
				<span ng-show="commentsForm.name.$error.required">*</span>
			<br>

		Kommentar:
			<br>
				<input id="commentsInput" type="text" name="comment" required ng-model="comment">
				<span ng-show="commentsForm.comment.$error.required">*</span>
			<br><br>

		<!--Submit button-->
		
		
				<input id="commentBtn" type="submit" value="Kommentera" /><br>
			</form><br></br>
			</div>
			</div>
		</div>
	</div>
</div>
