<div>
	<div class="row">
		<div class="col-md-12">
			<div class="article create" ng-controller="editArticleCtrl">
				<form>
				Titel:
					<br />
					<input type="text" ng-model="header" />
					<br />
				Upphovsman:
					<br />
					<input type="text" ng-model="author" />
					<br />
				Bild:
					<br />
					<input type="text" novalidate ng-model="imageURL" />
					<br />
				Video:
					<br />
					<input type="text" ng-model="videoURL" />
					<button type="submit" ng-click="saveArticle()">Uppdatera</button>
					<br />
					<br />
					<div>
					<select ng-model="categories" ng-options="cat.name for cat in cats">
						<option value="">Välj kategori</option>
					</select>
				</div>
				<br />
				</form>

				Artikeltext:
				<br />
				<textarea rows="10" cols="100" ng-model="bodyText" /><br />
			</div>
		</div>
	</div>
</div>