<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="angular-youtube-embed.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body ng-app="app" ng-controller="loginCtrl">
		<div class="container">
			<div ><br>
				<a href="#/"><img src="images/logo.png" id ="logo" ></a>
			</div>
			<img src="images/uniMini.gif">
			<nav class="navbar navbar-default">
				<div class="container-fluid">

					<div class="navbar-header">
						<a class="navbar-brand" href="#/">Hem</a>
					</div>
					<div class="nav navbar-form navbar-left form-group">
						<span class="glyphicon glyphicon-search"></span>
						<input class="form-control" type="text" placeholder="Sök" ng-model="search">
					</div>

					<div class="nav navbar-nav navbar-brand">
						<div>
							<select ng-model="categories" ng-options="cat.name for cat in cats">
								<option value="">Välj kategori</option>
							</select>
						</div>
					</div>
					<div ng-switch="userStatus">
						<div ng-switch-when="admin">
							<ul class="nav navbar-nav">
								<li ng-show="authData"><a href="#/create-article">Skriv en nyhet</a></li>
							</ul>
						</div>
						<div ng-switch-default></div>
					</div>
					<form class="nav navbar-form navbar-right">
						<div ng-switch="userStatus">
							<div ng-switch-when="admin">
								<span>Inloggad som {{authData.password.email.split('@')[0]}} (Admin)</span>
								<button ng-click="logout()" class="btn btn-default">Logga ut</button>
							</div>
							<div ng-switch-when="user">
								<span>Inloggad som {{authData.password.email.split('@')[0]}} (User)</span>
								<button ng-click="logout()" class="btn btn-default">Logga ut</button>
							</div>
							<div ng-switch-default>
								<div class="form-group">
								<input type="email" class="form-control" ng-model="$parent.email" placeholder="E-post">
								<input type="password" class="form-control" ng-model="$parent.password" placeholder="Lösenord">
								</div>
								<button type="submit" ng-click="login()" class="btn btn-default">Logga in</button>
								<button type="submit" ng-click="goToRegister()" class="btn btn-default">Registrera</button>
							</div>
						</div>
					</form>
					
				</div>
				
			</nav>
			<div ng-show="authData">			
				<div class="alert alert-success alert-dismissible fade in" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
					</button>
					<center>
						Du är inloggad!!
					</center>
				</div>
			</div>
		</div>
						
						
		<div class="container" ng-controller="articleCtrl" ng-view>

		</div>
		
		<div class="container"><br>
			<img src="images/poop.gif" id="poop">
			<div class="footer panel panel-default">
				
				<div class="panel-body">
				<strong>&copy 2015 Unicorn Productions</strong>
				</div>
			</div>
		</div>
	</body>
</html>