<div>
	<div class="row">
		<div class="col-md-4 articleslist" ng-repeat="a in articles | filter: searchArticle | filter: catFilter | orderBy: '-updated'">
			<banana ng-include="preview"></banana>
		</div>
	</div>
</div>