<div class="article" ng-controller="registerCtrl">
	<form name="registerForm" novalidate ng-submit="register($event)">
		<!--Namn:
			<br>
				<input id="nameInput" type="text" name="name" required ng-model="name">
				<span ng-show="commentsForm.name.$error.required">*</span>
			<br>-->
		Epost:
			<br />
				<input id="emailInput" type="email" name="email" required ng-model="email">
				<span ng-show="registerForm.email.$invalid">*</span>
			<br />
		Lösenord:
			<br />
				<input id="passwordInput" type="password" name="password" required ng-model="password">
				<span ng-show="registerForm.password.$error.required">*</span>
			<br />
		<input id="registerBtn" type="submit" value="Registrera ny användare" />
	</form>
</div>