body {
    background-color: #ffd8f1;
    background-image: url("images/uniback.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.footer {
    margin-top: 20px;
    border: dotted deeppink 2px;
}
/*css artiklar index*/
.article{
    margin-bottom: 20px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: cadetblue;
    border: dotted deeppink 2px;
    overflow: hidden;
}

.create {
    padding: 20px;
    height: auto;
}

.toparticle {
    height: 400px;
}

.currentArticle {
    height: auto;
}

.currentArticle-image {
    max-height: 300px;
}

.clicky {
    cursor: pointer;
}

.image-thumbnail {
    max-height: 150px;
    margin-right: 5px;
}

.image-container {
    margin-right: 20px;
    float: left;
}

.topBottomMargin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.articleslist:first-child {
    width: 100%;
}

.articleslist:first-child .article {
    height: 400px;
}
.articleslist:first-child .image-container {
    max-height: 300px;
}
/* ...........................*/


/* css till kommentarer/password/name*/
#bigDiv{
    
    border: dotted 2px lightseagreen;
    border-radius: 5px;
    background: #f3e5f5;
    padding: 5px;
    color: cadetblue;
    
}
#extraDiv{
    
    border: dotted 2px lightseagreen;
    border-radius: 5px;
    background: #ffd8f1;
    padding: 5px;
    color: cadetblue;
    
}
#commentsField{
    border: dotted 2px lightseagreen;
    
    height: 200px;
    border-radius: 5px;
    background: white;
    padding: 5px;
    color: cadetblue;
}
#nameInput{
    width: 80%;
    background: powderblue;
    border-radius: 5px;
}
#passwordInput{
    width: 80%;
    background: powderblue;
    border-radius: 5px;
}
#emailInput{
    width: 80%;
    background: powderblue;
    border-radius: 5px;
}
#commentsInput{
    width: 80%;
    background: wheat;
    border-radius: 5px;
}
.thePclass{
    color: deeppink;
}


#dotComments{
    margin-bottom: 20px;
    background-color: powderblue;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: darkblue;
    border: solid powderblue 2px;
    overflow: hidden;
    position: relative;
}

#commentBtn{
    width: 80%;
     background-color: mediumseagreen;
     border-radius: 5px;
     border: solid mediumseagreen 2px;
     color: snow
}

#datum{
    color: palevioletred;
    
}
#namn{
    color: black
}
/* ...........................*/


/* css till remove & edit button hints */

.glyphicon {
    color: deeppink;
}
#hint-remove, #hint-edit {
    display: none;
} 

#hint-remove-comment {
    display: none;
    position: absolute;
    left: 0px;
    top: 16px;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
}

.glyphicon-remove:hover ~ #hint-remove,
.glyphicon-remove:hover ~ #hint-remove-comment,
.glyphicon-edit:hover ~ #hint-edit {
    display: inline;
}
/* ...........................*/


#logo{
    width: 40%;
}
img{
    border-radius: 5px;
}
